---
import { socials } from "src/constants";
---

<footer aria-label="footer">
	<p>
		Built with <a href="https://astro.build/" target="_blank">Astro</a> • View
		source on
		<a href={`https://github.com/${socials.githubUsername}/alvs.dev`}>
			GitHub
		</a>
	</p>
	<p>I hope you have a very nice day :)</p>
	<!-- <div class="socials">
		<a
			href={`https://github.com/${socials.githubUsername}/`}
			target="_blank">Github</a
		>
		<a href={`mailto:${socials.email}`}>Email</a>
		<a rel="me" href={`${socials.linkedin}`}>LinkedIn</a>
		<a rel="me" href={`${socials.mastodon}`}>Mastodon</a>
	</div> -->
</footer>
<style>
	.socials {
		display: flex;
		align-items: center;
		gap: 12px;
	}
</style>
