---
// types
import type { ProjectDetailsFrontmatter } from "../types/ProjectDetailsFrontmatter";
export interface Props {
    project: ProjectDetailsFrontmatter;
}

// data
import social from "../data/socials.json";

// props
const { project } = Astro.props as Props;
---

<div class="project-card" tags={project.tags}>
    <img
        loading="lazy"
        src={`/assets/img/${project.id}-thumb.png`}
        alt={`a preivew for ${project.title}`}
    />
    <div>
        <div>
            <h3>{project.title}</h3>
            <p>
                {project.description}
                <a href={`/projects/${project.repoId}`}>...read more</a>
            </p>
        </div>
        <div class="links-container">
            <a
                href={`https://github.com/${social.githubUsername}/${project.id}`}
                target="_blank">Code</a
            >
            <a href={`https://${project.id}.alvs.dev`} target="_blank">Live</a>
        </div>
    </div>
</div>
