---
// This is the base layout designed for differen pages

// components
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import BaseHead from "@components/BaseHead.astro";
// import "@fontsource-variable/space-grotesk";
import "@fontsource-variable/geist";
import "@fontsource-variable/geist-mono";

// Types
type Props = {
  pageTabTitle: string;
  categoryTabTitle: string;
  pageTitle?: string;
  showNav: boolean;
  description?: string;
  image?: string;
};

// styles
import "@styles/minimal.css";
import "@styles/custom.css";

// props
const {
  pageTabTitle,
  pageTitle,
  categoryTabTitle,
  showNav,
  description,
  image,
} = Astro.props;

const fullTitle = `${pageTabTitle} • ${categoryTabTitle}`;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={fullTitle} description={description} image={image} />

    <!-- Web analytics -->
    <script
      is:inline
      data-goatcounter="https://a-sh.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"></script>

    <!-- Theme -->
    <script is:inline>
      (function () {
        const theme = localStorage.getItem("theme");
        if (theme === "dark") {
          document.documentElement.setAttribute("data-theme", "dark");
        } else if (theme === "light") {
          document.documentElement.setAttribute("data-theme", "light");
        } else {
          document.documentElement.removeAttribute("data-theme");
        }
      })();
    </script>
  </head>
  <body>
    <Header title={pageTitle} showNav={showNav} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
