---
// This the base layout designed for differen pages

// components
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

// Types
type Props = {
	pageTabTitle: string;
	categoryTabTitle: string;
	pageTitle: string;
	showNav: boolean;
};

// styles
import "@styles/simple.css";
import "@styles/custom.css";

// props
const { pageTabTitle, pageTitle, categoryTabTitle, showNav } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{`${pageTabTitle} • ${categoryTabTitle}`}</title>
	</head>
	<body>
		<Header title={pageTitle} showNav={showNav} />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
