---
import Layout from "./Layout.astro";

// Components
import BackInHistory from "../components/projectPage/BackInHistory.astro";
import ProjectLinks from "../components/projectPage/ProjectLinks.astro";

// Types
import type { ProjectDetailsFrontmatter } from "../types/ProjectDetailsFrontmatter";
interface Props {
	frontmatter: ProjectDetailsFrontmatter;
}

// props
const { frontmatter } = Astro.props;
---

<Layout
	categoryTabTitle="Projects"
	pageTabTitle={frontmatter.title}
	pageTitle={frontmatter.title}
	showNav={false}
>
	<main>
		<div>
			<BackInHistory />
			<ProjectLinks
				projectLiveAt={frontmatter.liveAt}
				projectRepoId={frontmatter.repoId}
			/>
		</div>
		<slot />
	</main>
</Layout>

<style>
	div {
		display: flex;
		justify-content: space-between;
	}
	div :global(a.nav-like) {
		border-color: var(--accent);
		color: var(--accent);
	}
</style>
