---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";

// Components
import BackInHistory from "@components/BackInHistory.astro";
import ProjectLinks from "@components/ProjectLinks.astro";

type Props = {
  project: CollectionEntry<"projects">;
};

// props
const { project } = Astro.props;
---

<Layout
  categoryTabTitle="Projects"
  pageTabTitle={project.data.title}
  showNav={true}
  description={project.data.description}
>
  <div class="actions-container">
    <BackInHistory />
    <ProjectLinks
      projectLiveAt={project.data.liveAt}
      projectRepoId={project.data.repoId}
    />
  </div>
  <h1>{project.data.title}</h1>
  <div id="project-content">
    <slot />
  </div>
</Layout>

<style>
  .actions-container {
    display: flex;
    margin: 1.5rem 0;
    justify-content: space-between;
  }
  .actions-container :global(a.nav-like) {
    border-color: var(--accent);
    color: var(--accent);
  }
  #project-content :global(img) {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  @media (max-width: 768px) {
    #project-content :global(img) {
      height: 150px;
    }
  }
</style>
