---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

// Components
import BackInHistory from "../components/BackInHistory.astro";
import ProjectLinks from "../components/ProjectLinks.astro";

interface Props {
	project: CollectionEntry<"projectDetails">;
}

// props
const { project } = Astro.props;
---

<Layout
	categoryTabTitle="Projects"
	pageTabTitle={project.data.title}
	pageTitle={project.data.title}
	showNav={false}
>
	<main>
		<div>
			<BackInHistory />
			<ProjectLinks
				projectLiveAt={project.data.liveAt}
				projectRepoId={project.data.repoId}
			/>
		</div>
		<slot />
	</main>
</Layout>

<style>
	div {
		display: flex;
		justify-content: space-between;
	}
	div :global(a.nav-like) {
		border-color: var(--accent);
		color: var(--accent);
	}
</style>
